<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/public/pico.css" rel="stylesheet">
    <title>renai</title>
    <style>
        header {
            display: flexbox;
            justify-content: center;
            align-items: center;
            padding: 33%;
        }
        .search-bar {
            display: flexbox;
            padding: 0 16%;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <a href="/stocks" id="stocks">Stocks</a>
        <a href="/crypto" id="crypto">Crypto</a>
        <h1>{{message}}</h1>
        <a href="/global" id="global">Global</a>
        <a href="/models" id="models">Models</a>
    </nav>
</header>
<div class="search-bar">
    <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search ...">
        <button type="submit">Search</button>
    </form>
</div>
<main class="container">
    <h1>{{message}}</h1>
</main>
</body>
</html>